*
{
    margin:0;
    padding:0;

}
/* header section */
body
{
    background-image: linear-gradient(to right, rgb(149, 149, 255),blue);
}
header
{
    font-family: 'Joan', serif;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}
header a img{
    display: inline-block;
    width: 70px;
    height: 50px;;
    margin:5px 10px ;
}
.links
{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.links a{
    padding: 0 10px;
    text-decoration: none;
    color:white;
    /* border: 2px solid black; */
    padding:10px;
    margin-left: 30px;
    width:100px;
}
.he a:hover
{
   background-color:rgb(255, 0, 200);
    /* background-color: rgb(18, 18, 77); */
    color:white;
    border-radius: 20px;
}
.pink
{
    background-color: rgb(255, 0, 200);
    border-radius: 20px;
    margin-right: 50px;
}
header .he .pink:hover
{
    background-color:rgb(18, 18, 77);
    color:rgb(255, 0, 200);
}
/* main section */
main 
{
    margin-top: 50px;;
    display: flex;
    justify-content: space-between;
    /* align-items: center;; */
    color:white;
}
h1
{
    font-size:50px;
    margin:0 70px;
}
h5
{
    font-size:20px;
    font-weight: normal;
    margin:0 70px;
}
main img
{
    width:500px;
    height: 500px;
}
.right
{
    width:50%;
    margin-right: 100px;
}
main button
{
    /* display: block; */
    width:35%;
    margin-top:30px;
    margin-left: 70px ;
    padding:20px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 0, 200);
    color:white;
    cursor: pointer;
}
button:hover
{
    background-color:rgb(18, 18, 77);
    color:rgb(255, 0, 200);
}
.left img
{
    width:60px;
    height: 60px;
}
.content
{
    display: flex;
    margin-top: 50px;
    margin-left: 60px;;
}
.item
{
    margin:40px;
}
.item h4
{
    font-size: small;
    font-weight: normal;
}
/* footer */
footer h1
{
    text-align: center;
    color:white;
}
form
{
    display: flex;
    width:50%;
    flex-direction: column;
    margin-left: 25%;
    padding: 30px;
}
footer p{
    margin-top: 20px;
    color:white;
}
.last
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.last button
{
    border-radius: 20px;
    width:100px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 0, 200);
    color:white;
    cursor: pointer;
    padding:10px;
    margin:0 100px;
    margin-bottom: 40px;
    
}
.last button:hover
{
    background-color:rgb(18, 18, 77);
    color:rgb(255, 0, 200);
}